
<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar %>
      <% else %>
        <img src="https://66.media.tumblr.com/1a9bb7decebe88cf8268748036871814/tumblr_inline_p6pvdkDvGj1sss5ih_500.png">
      <%end %>
    </div>
  </div>

    <div class="col-md-8 basic-info">
        <h2 class="username"><%= current_user.username %></h2>
        <h2 class="email"><%= current_user.email %></h2>
        <h2 class="bio"><%= current_user.bio %></h2>
        <a class="edit-profile" href="<%= edit_user_registration_path(current_user) %>">
          <button>Edit Account</button>
        </a>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>
      </div>
    </div>
  </div>

  <div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
  </div>


<div class="user-images">
  <% @posts.each do |post|%>
    <div class="wrapper">
      <%=image_tag post.image %>
    </div>
  <% end %>
</div>

</div>
